{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.is_public and md.check_acl('@modify-requirements') %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% endif %}

<form id="modify" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
  <input form="modify" type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<fieldset {{ 'disabled="disabled"' if not g.user.check_acl('@admin') and md.fw.remote.is_public }} >
<div class="card">
  <div class="card-body">
<table class="table">
  <tr class="row table-borderless">
    <th class="col-3">ID</th>
    <td class="col">
{% if md.check_acl('@modify-appstream-id') %}
      <textarea form="modify" class="form-control fixed-width" name="appstream_id" cols="100" rows="1">{{md.appstream_id if md.appstream_id}}</textarea>
{% else %}
      <code>{{md.appstream_id}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Name</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <textarea form="modify" class="form-control fixed-width" name="name" cols="100" rows="1">{{md.name if md.name}}</textarea>
{% else %}
      <code>{{md.name_with_category}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Name Variant Suffix (optional)</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <textarea form="modify" class="form-control fixed-width" name="name_variant_suffix" cols="100" rows="1">{{md.name_variant_suffix if md.name_variant_suffix}}</textarea>
{% else %}
      <code>{{md.name_variant_suffix}}</code>
{% endif %}
    </td>
  </tr>
{% if md.branch or md.fw.vendor.branches %}
  <tr class="row">
    <th class="col-3">Branch</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <textarea form="modify" class="form-control fixed-width" name="branch" cols="100" rows="1">{{md.branch if md.branch}}</textarea>
{% else %}
      <code>{{md.branch}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
  <tr class="row">
{% set tag = md.vendor_tag %}
    <th class="col-3">
{% if tag %}
      {{tag.name}}, e.g. <code>{{tag.example}}</code>
      {{ '(required)' if tag.enforce else '(optional)' }}
{% else %}
      Release tag, e.g. <code>N1CET75W</code> (optional)
{% endif %}
    </th>
    <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <textarea form="modify" class="form-control fixed-width" name="release_tag" cols="100" rows="1">{{md.release_tag if md.release_tag}}</textarea>
{% else %}
      <code>{{md.release_tag}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Summary</th>
    <td class="col"><code>{{md.summary}}</code></td>
  </tr>
{% if md.icon %}
  <tr class="row">
    <th class="col-3">Icon</th>
    <td class="col"><code>{{md.icon}}</code></td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-3">Version</th>
    <td class="col"><code>{{md.version_display}}</code></td>
  </tr>
{% for guid in md.guids %}
  <tr class="row">
    <th class="col-3">Device GUID</th>
    <td class="col"><code>{{guid.value}}</code></td>
  </tr>
{% endfor %}
  <tr class="row">
    <th class="col-3">Download Size</th>
    <td class="col">{{format_size(md.release_download_size)}}</td>
  </tr>
  <tr class="row">
    <th class="col-3">Installed Size</th>
    <td class="col">{{format_size(md.release_installed_size)}}</td>
  </tr>
  <tr class="row">
    <th class="col-3">Metadata License</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <select form="modify" class="form-control" name="metadata_license_id">
        <option value="" {{ 'selected' if not md.project_license }}>Unknown</option>
{% for lic in metadata_licenses %}
        <option value="{{lic.license_id}}" {{ 'selected' if md.metadata_license and md.metadata_license.license_id == lic.license_id }}>
          {{lic.name}} [{{lic.value}}]
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.metadata_license.value if md.metadata_license else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Firmware License</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <select form="modify" class="form-control" name="project_license_id">
        <option value="" {{ 'selected' if not md.project_license }}>Unknown</option>
{% for lic in project_licenses %}
        <option value="{{lic.license_id}}" {{ 'selected' if md.project_license and md.project_license.license_id == lic.license_id }}>
          {{lic.name}} [{{lic.value}}]
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.project_license.value if md.project_license else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
{% if md.priority %}
  <tr class="row">
    <th class="col-3">Priority</th>
    <td class="col">{{md.priority}}</td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-3">Protocol</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <select form="modify" class="form-control" name="protocol_id">
{% for pr in protocols %}
{% if pr.is_public %}
        <option value="{{pr.protocol_id}}" {{ 'selected' if md.protocol and md.protocol.value == pr.value }}>{{ pr.name if pr.name else pr.value}}</option>
{% endif %}
{% endfor %}
      </select>
{% else %}
    <code>{{md.protocol.value}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Version Format</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <select form="modify" class="form-control" name="verfmt_id">
        <option value="" {{ 'selected' if not md.verfmt }}>Unknown</option>
{% for verfmt in verfmts %}
        <option value="{{verfmt.verfmt_id}}" {{ 'selected' if md.verfmt and md.verfmt.value == verfmt.value }}>
          {{ verfmt.name if verfmt.name else verfmt.value}}
{% if md.version.isdigit() %}
          e.g. {{verfmt.version_display(md.version)}}
{% endif %}
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.verfmt.value}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Category</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <select form="modify" class="form-control" name="category_id">
        <option value="" {{ 'selected' if not md.category }}>Unknown</option>
{% for cat in categories %}
        <option value="{{cat.category_id}}" {{ 'selected' if md.category and md.category.value == cat.value }}>{{ cat.name if cat.name else cat.value}}</option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.category.value}}</code>
{% endif %}
    </td>
  </tr>
{% if md.screenshot_url %}
  <tr class="row">
    <th class="col-3">Screenshot URL</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <input form="modify" type="text" class="form-control" name="screenshot_url" value="{{md.screenshot_url if md.screenshot_url}}"/>
{% else %}
      <code>{{md.screenshot_url}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
{% if md.screenshot_caption %}
  <tr class="row">
    <th class="col-3">Screenshot Caption</th>
    <td class="col">
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
      <textarea form="modify" class="form-control" name="screenshot_caption" cols="100" rows="3">{{md.screenshot_caption if md.screenshot_caption}}</textarea>
{% else %}
      <code>{{md.screenshot_caption}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
</table>
    <input form="modify" type="submit" class="card-link btn btn-primary" value="Modify"/>
  </div>
</div>

<div class="card mt-3">
  <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-2.png')}});"></div>
  <div class="card-body">
    <h2 class="card-title">
      Security
    </h2>
    <div class="card-text">
      <ul class="list-group">
{% for claim in (md.autoclaims+md.claims)|sort() %}
        <li class="list-group-item">
          <span class="fs-2 {{claim.icon_css|join(' ')}}"></span>
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
</div>
</fieldset>

{% endblock %}
